

<!-- <ion-content>
  <div class="continer-fluid">
    <ion-item>
      <ion-icon class="search" name="search-outline"></ion-icon>
      <ion-input
        type="text"
        placeholder="Search any thinks thant you want..."
      ></ion-input>
      <ion-icon class="options" name="options-outline"></ion-icon>
    </ion-item>
  </div>
  <span>
    <swiper-container :slides-per-view="3.6" [spaceBetween]="0">
      <swiper-slide><ion-card>
        <span>Statistics</span>
      </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
        <span>Trajectory</span>
      </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
        <span>Drivers</span>
      </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
        <span>Students</span>
      </ion-card>
      </swiper-slide>
    </swiper-container>
  </span>
</ion-content> -->
