<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
    <ion-grid fixed>
      <ion-row>
        <ion-back-button></ion-back-button>
        <ion-title style="text-align: left">Statistics</ion-title>
        <div class="img-text-header">
          <p>
            <span class="salutation">Welcome back, </span>
          </p>
          <span class="journee"> Brice Nanyang </span>
        </div>
        <div class="img-header">
          <ion-menu-button>
            <img src="assets/avatars/1.png" />
          </ion-menu-button>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
  </div>
</ion-content>
