
<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <div class="img-header">
          <img src="assets/avatars/1.png" />
        </div>
        <div class="img-text-header">
          <p>
            <span class="salutation">Hello, </span>
            <span class="username">Brice Nanyang</span>
          </p>
          <span class="journee">
            {{ formattedDate }}
          </span>
        </div>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>