<ion-content>
  <div class="container-fluid">
    <div class="text-header">Hello, welcome back 👋</div>
    <div class="text-sub-header">
      Happy to see you again, please login here.
    </div>

    <div class="form-login">
      <form [formGroup]="login" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <ion-input
            label="Username"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="Enter your username...."
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="username"
          ></ion-input>
          <span
            *ngIf="this.login.controls?.username.touched && this.login.controls?.username.invalid"
          >
            <div
              class="ion-padding"
              *ngIf="this.login.controls?.username.errors?.required"
            >
              <ion-text color="danger">Désolé mais ce champs est obligatoire.</ion-text>
            </div>
            <div
              class="ion-padding"
              color="danger"
              *ngIf="this.login.controls?.username.errors?.minlength"
            >
              <ion-text color="danger"
                >Renseignez au moins 06 caractères.</ion-text
              >
            </div>
            <div
              class="ion-padding"
              color="danger"
              *ngIf="this.login.controls?.username.errors?.maxlength"
            >
              <ion-text color="danger"
                >Renseignez au plus 20 caractères.</ion-text
              >
            </div>
          </span>
        </div>
        <div class="form-group">
          <ion-input
            label="Password"
            type="password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter your password...."
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="password"
          ></ion-input>
          <span
          *ngIf="this.login.controls?.password.touched && this.login.controls?.password.invalid"
        >
          <div
            class="ion-padding"
            *ngIf="this.login.controls?.password.errors?.required"
          >
            <ion-text color="danger">Désolé mais ce champs est obligatoire.</ion-text>
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.login.controls?.password.errors?.maxlength"
          >
            <ion-text color="danger"
              >Renseignez au plus 20 caractères.</ion-text
            >
          </div>
        </span>
        </div>

        <div>
          <ion-checkbox labelPlacement="end">Remember Me</ion-checkbox>
          <span
            color="danger"
            class="ending"
            [routerLink]="['/forgot-password']"
          >
            Forgot Password ?
          </span>
        </div>

        <ion-button expand="block" type="submit">
          Login <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>

        <div class="footer-text">
          You don't have an account ?
          <span color="primary" routerLink="/register"> Register</span>
        </div>
      </form>
    </div>
  </div>
</ion-content>
