<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-back-button></ion-back-button>
        <ion-title style="text-align: left">Etudiants</ion-title>
        <div class="img-text-header">
          <span class="journee"> Brice Nanyang </span>
          <p>
            <span class="salutation">Etudiant</span>
          </p>
        </div>
        <div class="img-header">
          <ion-menu-button>
            <img src="assets/avatars/1.png" />
          </ion-menu-button>
        </div>
      </ion-row>

      <ion-segment [(ngModel)]="selected" mode="ios" class="ion-no-border">
        <ion-segment-button value="add"> Ajout </ion-segment-button>
        <ion-segment-button value="list"> Liste </ion-segment-button>
        <ion-segment-button value="accessibility">
          Accessibilité
        </ion-segment-button>
        <ion-segment-button value="scanner"> Qrcode </ion-segment-button>
      </ion-segment>

      <ion-item class="item-search" *ngIf="selected === 'list'">
        <ion-icon name="search-outline"></ion-icon>
        <ion-input
          type="text"
          placeholder="Filtrez les informations étudiants..."
          (ionInput)="handleInput($event)"
          [clearInput]="true"
        ></ion-input>
      </ion-item>

      <ion-item class="item-search" *ngIf="selected === 'accessibility'">
        <ion-icon name="search-outline"></ion-icon>
        <ion-input
          type="text"
          placeholder="Filtrez les informations étudiants..."
          (ionInput)="studentAutocomplete($event)"
          [clearInput]="true"
        ></ion-input>
      </ion-item>

      <ion-list [hidden]="autocomplete.length <= 0">
        <ion-item
          style="margin-bottom: 4px"
          *ngFor="let item of autocomplete"
          (click)="selectedAutocomplete(item)"
        >
          <ion-label> {{item.matricule}} | {{item.fullname}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div *ngIf="selected === 'add'">
      <div class="form-login">
        <form [formGroup]="add" (ngSubmit)="save()" novalidate>
          <div class="form-group">
            <ion-button expand="block" (click)="takePicture()">
              Sélectionnez une photo &nbsp;
              <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="form-group">
            <ion-input
              label="Matricule"
              type="text"
              label-placement="floating"
              fill="outline"
              placeholder="Entrez le matricule...."
              [clearInput]="true"
              autocomplete="off"
              autocorrect="on"
              formControlName="matricule"
            ></ion-input>
            <span
              *ngIf="this.add.controls?.matricule.touched && this.add.controls?.matricule.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.matricule.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.matricule.errors?.minlength"
              >
                <ion-text color="danger"
                  >Renseignez au moins 09 caractères.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.matricule.errors?.maxlength"
              >
                <ion-text color="danger"
                  >Renseignez au plus 10 caractères.</ion-text
                >
              </div>
            </span>
          </div>

          <div class="form-group">
            <ion-input
              label="Noms & Prénoms"
              type="text"
              label-placement="floating"
              fill="outline"
              placeholder="Entrez le nom complet...."
              [clearInput]="true"
              autocomplete="off"
              autocorrect="on"
              formControlName="fullname"
            ></ion-input>
            <span
              *ngIf="this.add.controls?.fullname.touched && this.add.controls?.fullname.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.fullname.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.fullname.errors?.minlength"
              >
                <ion-text color="danger"
                  >Renseignez au moins 04 caractères.</ion-text
                >
              </div>
            </span>
          </div>

          <div class="form-group">
            <ion-select
              label="Cycle Etudiant"
              label-placement="floating"
              fill="outline"
              multiple="false"
              placeholder="ex : Ingénieur"
              formControlName="cycle"
            >
              <ion-select-option>Master</ion-select-option>
              <ion-select-option>Ingénieur</ion-select-option>
              <ion-select-option>Management</ion-select-option>
              <ion-select-option>Licence Pro</ion-select-option>
            </ion-select>
            <span
              *ngIf="this.add.controls?.cycle.touched && this.add.controls?.cycle.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.cycle.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
            </span>
          </div>

          <div class="form-group">
            <ion-select
              label="Niveau Etude"
              label-placement="floating"
              fill="outline"
              multiple="false"
              placeholder="ex : 1"
              formControlName="level"
            >
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
            <span
              *ngIf="this.add.controls?.level.touched && this.add.controls?.level.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.level.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
            </span>
          </div>

          <div class="form-group">
            <ion-input
              label="Adresse Email"
              type="text"
              label-placement="floating"
              fill="outline"
              placeholder="Entrez le l'email...."
              [clearInput]="true"
              autocomplete="off"
              autocorrect="on"
              formControlName="email"
            ></ion-input>
            <span
              *ngIf="this.add.controls?.email.touched && this.add.controls?.email.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.email.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.email.errors?.pattern"
              >
                <ion-text color="danger"
                  >L'email n'est pas saint jean.</ion-text
                >
              </div>
            </span>
          </div>

          <div class="form-group">
            <ion-input
              label="Téléphone"
              type="text"
              label-placement="floating"
              fill="outline"
              placeholder="Entrez le fullname of student...."
              [clearInput]="true"
              autocomplete="off"
              autocorrect="on"
              formControlName="phone"
            ></ion-input>
            <span
              *ngIf="this.add.controls?.phone.touched && this.add.controls?.phone.invalid"
            >
              <div
                class="ion-padding"
                *ngIf="this.add.controls?.phone.errors?.required"
              >
                <ion-text color="danger"
                  >Désolé mais ce champs est obligatoire.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.phone.errors?.minlength"
              >
                <ion-text color="danger"
                  >Renseignez exactement 09 caractères.</ion-text
                >
              </div>
              <div
                class="ion-padding"
                color="danger"
                *ngIf="this.add.controls?.matricule.errors?.pattern"
              >
                <ion-text color="danger"
                  >Le numéro doit commencer par << 6>>.</ion-text
                >
              </div>
            </span>
          </div>

          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block" type="reset" color="danger">
                  Annuler <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" type="submit" [disabled]="!isReady">
                  Enregistrer <ion-icon name="save-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="form-group">
            <img *ngIf="image" [src]="image" width="100%" />
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="selected === 'list'">
      <div class="container">
        <span *ngIf="isConnected">
          <ion-card
            *ngFor="let item of data"
            (click)="actionsAboutStudent(item)"
          >
            <ion-grid fixed>
              <ion-row>
                <ion-col size="4">
                  <img
                    [src]="item.picture"
                    alt=""
                    srcset=""
                    width="100%"
                    height="123px"
                  />
                </ion-col>
                <ion-col size="8">
                  <h4>
                    <span> {{item.matricule}} </span>
                    Matricule :
                  </h4>
                  <h4>
                    <span>{{ truncateAndEllipsis(item.fullname) }} </span>
                    Noms :
                  </h4>
                  <h4>
                    <span>{{item.cycle}} </span>
                    Cycle :
                  </h4>
                  <h4>
                    <span>{{item.level}} </span>
                    Niveau :
                  </h4>
                  <h4>
                    <span>{{item.phone}} </span>
                    Contact :
                  </h4>
                  <h4>
                    <span>{{ maskEmail(item.email) }}</span>
                    Email :
                  </h4>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <span *ngIf="data.length < 1">
            <img src="assets/avatars/no-data.png" alt="No data" />
            <div style="text-align: center !important">
              Aucune donnée disponible
            </div>
          </span>
        </span>

        <ion-list lines="none" *ngIf="!isConnected">
          <ng-container>
            <!-- Display ion-spinner and loading message -->
            <ion-item *ngIf="loadingData">
              <ion-spinner name="bubbles" slot="start"></ion-spinner>
              <ion-label> Veillez vous connecter à internet... </ion-label>
            </ion-item>

            <ion-item *ngFor="let item of items; let i = index">
              <ion-thumbnail slot="start" style="width: 30%; height: 100px">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80%"
                  ></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 60%"
                  ></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 30%"
                  ></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 60%"
                  ></ion-skeleton-text>
                </p>
                <h3>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80%"
                  ></ion-skeleton-text>
                </h3>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>

      <ion-modal
        [isOpen]="isModalOpen"
        [initialBreakpoint]="0.98"
        [breakpoints]="[0, 0, 0, 0]"
      >
        <ng-template>
          <ion-content>
            <div class="container-fluid">
              <div class="form-login">
                <form [formGroup]="add" (ngSubmit)="updateStudent()" novalidate>
                  <div class="form-group">
                    <ion-button expand="block" (click)="takePicture()">
                      Sélectionnez une photo &nbsp;
                      <ion-icon name="camera-outline"></ion-icon>
                    </ion-button>
                  </div>

                  <div class="form-group">
                    <ion-input
                      label="Matricule"
                      type="text"
                      label-placement="floating"
                      fill="outline"
                      placeholder="Entrez le matricule...."
                      [clearInput]="true"
                      autocomplete="off"
                      autocorrect="on"
                      formControlName="matricule"
                      [(ngModel)]="readyToUpdate.matricule"
                      readonly
                    ></ion-input>
                    <span
                      *ngIf="this.add.controls?.matricule.touched && this.add.controls?.matricule.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.matricule.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.matricule.errors?.minlength"
                      >
                        <ion-text color="danger"
                          >Renseignez au moins 09 caractères.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.matricule.errors?.maxlength"
                      >
                        <ion-text color="danger"
                          >Renseignez au plus 10 caractères.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <div class="form-group">
                    <ion-input
                      label="Noms & Prénoms"
                      type="text"
                      label-placement="floating"
                      fill="outline"
                      placeholder="Entrez le nom et le prénom...."
                      [clearInput]="true"
                      autocomplete="off"
                      autocorrect="on"
                      formControlName="fullname"
                      [(ngModel)]="readyToUpdate.fullname"
                    ></ion-input>
                    <span
                      *ngIf="this.add.controls?.fullname.touched && this.add.controls?.fullname.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.fullname.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.fullname.errors?.minlength"
                      >
                        <ion-text color="danger"
                          >Renseignez au moins 04 caractères.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <div class="form-group">
                    <ion-select
                      label="Cycle"
                      label-placement="floating"
                      fill="outline"
                      multiple="false"
                      placeholder="ex : Ingénieur"
                      formControlName="cycle"
                      [(ngModel)]="readyToUpdate.cycle"
                    >
                      <ion-select-option>Master</ion-select-option>
                      <ion-select-option>Ingénieur</ion-select-option>
                      <ion-select-option>Management</ion-select-option>
                      <ion-select-option>Licence Pro</ion-select-option>
                    </ion-select>
                    <span
                      *ngIf="this.add.controls?.cycle.touched && this.add.controls?.cycle.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.cycle.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <div class="form-group">
                    <ion-select
                      label="Niveau Etude"
                      label-placement="floating"
                      fill="outline"
                      multiple="false"
                      placeholder="ex : 1"
                      formControlName="level"
                      [(ngModel)]="readyToUpdate.level"
                    >
                      <ion-select-option value="1">1</ion-select-option>
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                    </ion-select>
                    <span
                      *ngIf="this.add.controls?.level.touched && this.add.controls?.level.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.level.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <div class="form-group">
                    <ion-input
                      label="Email"
                      type="text"
                      label-placement="floating"
                      fill="outline"
                      placeholder="Entrez le email of student...."
                      [clearInput]="true"
                      autocomplete="off"
                      autocorrect="on"
                      formControlName="email"
                      [(ngModel)]="readyToUpdate.email"
                    ></ion-input>
                    <span
                      *ngIf="this.add.controls?.email.touched && this.add.controls?.email.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.email.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.email.errors?.pattern"
                      >
                        <ion-text color="danger"
                          >L'email n'est pas saint jean.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <div class="form-group">
                    <ion-input
                      label="Téléphone"
                      type="text"
                      label-placement="floating"
                      fill="outline"
                      placeholder="Entrez le fullname of student...."
                      [clearInput]="true"
                      autocomplete="off"
                      autocorrect="on"
                      formControlName="phone"
                      [(ngModel)]="readyToUpdate.phone"
                    ></ion-input>
                    <span
                      *ngIf="this.add.controls?.phone.touched && this.add.controls?.phone.invalid"
                    >
                      <div
                        class="ion-padding"
                        *ngIf="this.add.controls?.phone.errors?.required"
                      >
                        <ion-text color="danger"
                          >Désolé mais ce champs est obligatoire.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.phone.errors?.minlength"
                      >
                        <ion-text color="danger"
                          >Renseignez exactement 09 caractères.</ion-text
                        >
                      </div>
                      <div
                        class="ion-padding"
                        color="danger"
                        *ngIf="this.add.controls?.matricule.errors?.pattern"
                      >
                        <ion-text color="danger"
                          >Le numéro doit commencer par << 6>>.</ion-text
                        >
                      </div>
                    </span>
                  </div>

                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="6">
                        <ion-button expand="block" type="reset" color="danger">
                          Annuler
                          <ion-icon name="close-circle-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button
                          expand="block"
                          type="submit"
                          [disabled]="!image"
                        >
                          Modifier <ion-icon name="save-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div class="form-group">
                    <img *ngIf="image" [src]="image" width="100%" />
                  </div>
                </form>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>

    <div *ngIf="selected === 'accessibility'">
      <div class="container">
        <div
          *ngIf="selected1 === 'newAccesibility' || selected1 === 'checkAccesibility' || selected1 === 'getAccesibility'"
        >
          <ion-segment [(ngModel)]="selected1" mode="ios" class="ion-no-border">
            <ion-segment-button value="newAccesibility">
              Nouvelle
            </ion-segment-button>
            <ion-segment-button value="getAccesibility">
              Vérifier
            </ion-segment-button>
            <ion-segment-button value="checkAccesibility">
              Valider Accès Bus
            </ion-segment-button>
          </ion-segment>
        </div>

        <div *ngIf="selected1 === 'newAccesibility'">
          <div class="form-login">
            <form novalidate>
              <div class="form-group">
                <ion-input
                  label="Matricule"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.matricule"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Noms & Prénoms"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.fullname"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Date Expiration"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Selectionnez l'étudiant...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.endPeriod"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Nouvelle Prolongation"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="YYYY/MM/DD"
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  [textMask]="{ mask: ['2', '2', '2', '2', '/', '2', '2', '/', '1', '1'] }"
                ></ion-input>
              </div>

              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <ion-button
                      expand="block"
                      (click)="annuler()"
                      color="danger"
                    >
                      Annuler <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button
                      expand="block"
                      type="submit"
                      [disabled]="!isReady"
                    >
                      Enregistrer <ion-icon name="save-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>

          <ion-card
            color="danger"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'no'"
          >
            {{messageBusAccess}}
          </ion-card>

          <ion-card
            color="success"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'yes'"
          >
            {{messageBusAccess}}
          </ion-card>
        </div>

        <div *ngIf="selected1 === 'getAccesibility'">
          <div class="form-login">
            <form novalidate>
              <div class="form-group">
                <ion-input
                  label="Matricule"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.matricule"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Noms & Prénoms"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.fullname"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Date Expiration"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Selectionnez l'étudiant...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.endPeriod"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-button
                      expand="block"
                      (click)="annuler()"
                      color="danger"
                    >
                      Annuler <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>

          <ion-card
            color="danger"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'no'"
          >
            {{messageBusAccess}}
          </ion-card>

          <ion-card
            color="success"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'yes'"
          >
            {{messageBusAccess}}
          </ion-card>
        </div>

        <div *ngIf="selected1 === 'checkAccesibility'">
          <div class="form-login">
            <form novalidate>
              <div class="form-group">
                <ion-input
                  label="Matricule"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.matricule"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <div class="form-group">
                <ion-input
                  label="Noms & Prénoms"
                  type="text"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Entrez le matricule...."
                  [clearInput]="true"
                  autocomplete="off"
                  autocorrect="on"
                  readonly=""
                  [(ngModel)]="student.fullname"
                  [ngModelOptions]="{ standalone: true }"
                ></ion-input>
              </div>

              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <ion-button
                      expand="block"
                      (click)="annuler()"
                      color="danger"
                      >
                      Annuler <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-col>

                  <ion-col size="6">
                    <ion-button
                      expand="block"
                      type="submit"
                      [disabled]="!isValidity"
                    >
                      Admettre
                      <ion-icon name="checkmark-done-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>

          <ion-card
            color="danger"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'no'"
          >
            {{messageBusAccess}}
          </ion-card>

          <ion-card
            color="success"
            style="padding: 12%; text-align: center !important; font-size: 1rem"
            *ngIf="messageBusAccessStatus === 'yes'"
          >
            {{messageBusAccess}}
          </ion-card>
        </div>
      </div>
    </div>

    <div *ngIf="selected === 'scanner'"></div>
  </div>
</ion-content>
