<ion-content>
  <div class="container-fluid">
    <div class="text-header">Reset Password 👷🏽</div>
    <div class="text-sub-header">
      It's okay that you forget your password. <br />
      Just type your email or your phone contact and we will send an OPT
      password to reset your account security.
    </div>

    <div class="form-login">
      <form #form="ngForm">
        <div class="form-group">
          <ion-input
            label="Email or Phone"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="Enter your Email or your phone number ...."
            [clearInput]="true"
            autocomplete="off"
            autocorrect="off"
          ></ion-input>
        </div>

        <ion-button expand="block" type="submit"
          >Reset My Password <ion-icon name="reload-circle-outline"></ion-icon
        ></ion-button>

        <div class="footer-text">
          You don't forgot your password ?
          <span color="primary" routerLink="/login"> Login</span>
        </div>
      </form>
    </div>
  </div>
</ion-content>
